:root{
   --text-color: #312626;
   --big-text: #c47b7b;
}
body{
    margin:0;
    padding:0;
    height:100vh;
}
/* Home page design  */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    color: var(--text-color);
}
.home{
    background: linear-gradient(-45deg, #c47f6a, #84c9a0, #9ca870, #58bea7);
    background-size: 400% 400%;
    animation: gradient 12s ease infinite;
    margin:0;
    padding:0;
    min-height:100vh;
    width:100vw;
}
@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

/* navigation bar  */

.navbar{
    width:100vw; 
    overflow: hidden;
    
 }

 .navbar ul{
     flex-direction:row-reverse ;
     display: flex;
     justify-content: center;
     list-style-type: none;
 }
 .navbar ul li{
     list-style-type: none;
     display: inline-block;
     transition: 1s;
     padding:10px
 }
 .navbar ul li a{
    padding:6px;
     text-decoration: none;
     text-transform: capitalize;
     color:rgb(78, 58, 58);
     font-family: "anta";
     font-size: 1.2em;
     text-decoration: underline 0.15em rgba(255, 255, 255, 0);
    transition: text-decoration-color 0.8s;
}

.navbar ul li a:hover {
  text-decoration-color: rgb(78, 58, 58);
}
 
 .menuBtn, .closeBtn{
    margin:-6px 20px;
    display:none;
    text-align: end;
 }

 /* First content of homepage */
.index{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width:60%;
    margin: 2em auto;
}
.welText{
    font-family: "Anta", sans-serif;
    font-weight: 500;        
    font-style: normal;
    margin-left: 0.5em;
    margin-top: 4em;

}
.indexFirstDiv h2{
    font-family: "Anta", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size:1.4em;
    margin-left: 0.8em;
    margin-top: 1em;
}

/* second content (image section) of homepage */

.indexSecondDiv{
    margin-top: 6em;
    width:100%;
}
.indexSecondDiv ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    align-items: left;
}
.indexSecondDiv ul li{
    padding:12px;
}
.facebook{
    margin-left: 6em;
}
.cont-icon a{
    background:#4e916b;
    padding: 0.7em;
    border-radius: 2em;
    margin-bottom: 2em;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-family: "Anta", sans-serif;
}
.hireMe{
    display: none;
}
svg{
    cursor: pointer;
}
.leasy{
    margin-left: 8em;
    font-size: large;
    font-family: "Anta", sans-serif;
}
h5{
    color:rgb(153, 209, 148)
}
.explore{
    display: none;
}
.copyright{
    width:100%;
    background: #141313;
    padding: 1em;
    text-align: center;
    bottom:0px;
    display: none;
}
.copyright p{  
    color:rgb(15, 102, 173);
    font-family: "anta";
    font-size: 12px;
}
/* Footer of homepage */

footer{
    display: none;
}
/* About us sector  */


.aboutUs {
    background: linear-gradient(-45deg, #ad8478, #9fd3b4, #aab87a, #58bea7);
    background-size: 400% 400%;
    animation: about 12s ease infinite;
    margin:0;
    padding:0;
    min-height:100vh;
    width:100vw;
}
@keyframes about {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.aboutUs-container{
    display: flex;
    flex-direction: row;
    width:80vw;
    margin:3em auto;
    gap: 1em;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content, .otherInfo{
    flex-basis: 100%;
    text-align: center;
    color:#417947;
    font-family: "anta";
}
.aboutH3{
    display: none;
}
.aboutUs-content-1{
    flex-basis: 55%;
    margin-top: 1em;
    margin-bottom: 1em;
    
}
.aboutUs-content-1 h3{
    margin-top: 1em;
    font-family: "IBM Plex Mono", monospace;
    font-size: 22px;
    letter-spacing:0.2em;
    color:rgb(196, 137, 66);
}
.aboutUs-content-1 p{
    font-family: "anta", monospace;
    letter-spacing: 0.1em;
    font-size: 18px;
    color:rgb(32, 36, 20);
    font-weight:400;
    margin-left: 4px;
    margin-top: 1em;
}
.aboutUs-content-2{
    flex-basis: 40%;
    margin-bottom: 1em;
    display: flex;
    justify-content: end;
}
.aboutUs-content-2 img{
    border-right:1px ridge white; 
    border-top:1px ridge white; 
    border-radius: 50%;
}
.blank{
    width:40vw;
    border:1px solid gray;
    margin:1.5em auto;
}
.additionalInfo{
    display: flex;
    flex-direction: row;
    width:70vw;
    flex-wrap: wrap;
    height:auto;
    gap: 1em;
    margin:2em auto 0em auto;
}
.additionalInfo .otherInfo-2 p{
    text-wrap: wrap;
}
.otherInfo{
    flex-basis: 100%;;
}
.otherInfo-1, .otherInfo-2{
    flex-basis:50%;
    margin:0 auto;
}

footer h3{
    display: none;
}
.myInfo{
    display: none;
}
.otherInfo-1{
    box-sizing: border-box;
    text-align: center;
}
.personalInfo, .myInfo, .otherInfo-2 h3{
    text-align: center;
    margin:1em auto 0.5em ;
    font-family: "anta";
    font-size: large;
}
.otherInfo-2 p{
    font-size:18px;
    margin-top: 0.5em;
    font-family: "anta";
    text-align: center;
}
.otherInfo-2 table{
    margin:0 auto
}
table tr th{
    text-align: left;
    font-family: "anta";
    letter-spacing: 0.1em;
    font-size: 14px;
}
td::before{
    content: "";
    margin-right: 1em;
}
.blank-2{
    display: none;
}

/* media queary for home page  */
@media (max-width:640px) {
    body{
        margin:0;
        padding: 0;
        height: 100vh;
    }
    .home {
        height: 100vh;
        width:100vw;
    }
    /* Navbar responsive */

    .navbar ul#menu {
        display: none;
    }
    .header{
        width: 100vw;
        height:auto;
        text-align: center;
        font-size:12px;
    }
    nav ul li a{
        font-size:4px;
    }
    .navbar ul#menu.show {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /* Add this CSS to your existing stylesheet */
    .menuBtn {
        display: block;
        height: 38px;
        font-size: 38px;
        color: white;
        cursor: pointer;
        margin-right: 0.4em;
    }
    
    .closeBtn {
        color: white;
        margin-right: 0.4em;
    }
    
/* responsive home page      */

    .index{
        width:90vw;
        margin-top: -1em;
    }
    
    .welText{
        font-family: "Anta", sans-serif;
        font-weight: 400;        
        font-style: normal;
        margin-top: 2em;
        text-align: center;
    }
    .indexFirstDiv h2{
        font-family: "Anta", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        font-style: normal;
        font-size:1em;
        margin-top: 1em;
        margin-left: 0em;
    }
    
    .indexSecondDiv{
        margin-top: 1em;
        width:100%;
    }
    .indexSecondDiv ul li{
        padding:8px;
    }
    .leasy{
        display: none;
    }
    .indexSecondDiv ul li{
        padding:6px;
    }
    .facebook{
        margin-left: 2em;
    }
    .cont-icon a{
        background:#4e916b;
        padding: 0.6em;
        border-radius: 2em;
        display: inline-block;
        text-decoration: none;
        text-align: center;
        font-family: "Anta", sans-serif;
        font-size: small;
    }
    .homeIcon{
        display: none;
    }
    .hireMe{
        display: block;
    }
    .hireMe a{
        background:#4e916b;
        padding: 0.6em;
        border-radius: 2em;
        display: block;
        text-decoration: none;
        text-align: center;
        font-family: "Anta", sans-serif;
        font-size: small;
    }
    .explore{
        display: block;
        margin-bottom: 2em;
        margin-left:auto ;
        margin-right: auto;
        text-align: center;
    }
    .explore h4{
        text-align: center;
        font-size: small;
        font-family: "anta";
        font-weight: 300;
    }
    .explore ul{
        width: 90vw;
        display: flex;
        list-style-type: none;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        margin: 1em auto 0em auto;
        background: linear-gradient(-45deg, #be9e94, #84c9a0, #9ca870, #a5beb8);
        background-size: 400% 400%;
        animation: gradient 12s ease infinite;
    
    }
    @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }
    
    .explore ul li a{
        display: block;
        text-decoration: none;
        color:rgb(20, 90, 20);
        padding:8px;
        transition: all;
        font-size:16px ;
    }
    .explore ul li a:hover{
        color:#00a80e;
        font-size: 17px;
    }
    .copyright{
        text-align: center;
        width:100%;
        padding:20px;
        display: block;
    }
    footer{
        display: block;
        width:90vw;
        margin: 0 auto;
        text-align: center;
    }
    footer p{
        font-family: "anta";
        font-size:14px
    }
    footer ul{
        list-style-type: none;
        display: flex;
        flex-direction:column;
        justify-content: space-evenly;
        margin-top: 1em;
    }
    footer h2{
        font-family: "anta";
        margin-top: 0.5em;
        font-size: 16px;
        text-align: center;
    }
    footer h3{
        margin: 1em auto;
        font-family: "anta";
        text-align: center;
        display: block;
        font-size: 16px;
    }   
    .copyright p{
        font-size:10px;
    }
    .aboutUs {
        background: linear-gradient(-65deg, #ca806b, #7aa88c, #9aad54, #72aa9c);
        background-size: 400% 400%;
        animation: about 12s ease infinite;
        margin:0;
        padding:0;
        min-height:100vh;
        width:100vw;
    }
    @keyframes about {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    
    .aboutUs-container{
        display: flex;
        flex-direction: column;
        width:90vw;
        margin: 1em auto 0em auto;
    }
    
    .aboutUs-content-1{
        text-align: left;
    }
    .aboutUs-content-1 h3{
        margin-top: 1em;
        margin-left: 0;
        color:#396911
    }
    .aboutUs-content-1 p{
        text-align: left;
        margin-left: 0;
        width: 90vw;
        letter-spacing:0.05em;
        font-size: 16px;
    }
    .content-1-p{
        display: none;
    }
    .aboutUs-content-2{
        justify-content: center;
    }
    .aboutUs-content-2 img{
        display: flex;
        justify-content: center;
        height:280px;
        width:290px;
        border-radius:50%;
        border-top:3px solid green;
        border-bottom:3px solid red;
        border-left:3px solid green;
        border-right: 3px solid red;
        transition: all;
    }
    .aboutUs-content-2 img:hover{
        border-bottom:3px solid rgb(220, 220, 48);
        border-top:3px solid blue;
        border-right:3px solid rgb(220, 220, 48);
        border-left: 3px solid blue;
        transition: 1s;
    }
    .about-content{
        display: none;
    }
    .aboutH3{
        display: block;
    }
    .blank{
        width:90vw;
        margin: 1em auto;
        border:1px ridge rgb(11, 56, 0);
    }
    .additionalInfo{
        display: flex;
        flex-direction: column;
        width:90vw;
        margin: 0em auto 1em auto;
    }
    .otherInfo, .personalInfo{
        display: none;
    }
    .myInfo{
        display: block;
    }
    table{
        width:100%;
        margin: 0 auto;
    }
    table tr th{
        text-align:right;
    }
    .blank-2{
        display: block;
        width:40%;
        height: 2px;
        border-bottom: 2px solid green;
        margin:1em auto;
    }
    .otherInfo-2 h3.eduInfo{
        text-align: center;
        margin-top: 0em;
    }
    .otherInfo-2 table tr th{
        text-align:right;
    }
    
}
@media (min-width:480px) {
    .copyright{
        display: none;
    }
    .aboutUs .copyright{
        display: block;
        padding:16px;
        background: #292222;
    }
    footer ul{
        display: flex;
        flex-direction: row;
    }
    footer h3{
        display: none;
    }
}
@media (max-width:460px){
    .aboutUs-container{
        width:90vw;
    }
    .additionalInfo{
        width:90vw;
    }
    .additionalInfo .otherInfo-2 p{
        font-size: 14px;
    }
    table{
        font-size: small;
    }
    table tr th{
        font-size: small;
        font-family:serif;
        letter-spacing: normal;
    }
}